//colors
:root {
  --color-base: #2292A4;
  --color-primary: #7BBC4E;
  --color-normal: #0F0A0A;
  --color-conditional: #DD1129C7;
  --color-conditional-down: #E38464;
  --color-light: #F5EFED;
  --color-gray: #C0C2C4;
  --color-neutral: #364959;
  --color-overlay: #000000da;
}
